<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Visitor Management System</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="banner">
        <video autoplay loop muted playsinline>
            <source src="/videos/bg.mp4" type="video/mp4">
        </video>
        <div class="navbar">
            <img class="logo" src="/images/logo.png" alt="Logo">
            
        </div>
        <div class="content">
            <h1>Reimagine the Future</h1>
            <h2>Welcome to the Campus - RBMI Group of Institutions</h2>
            <h3>Bukhara Near ITBP Bareilly</h3>
            <div>
                <!-- Change this button to link to the register page -->
                <a href="/admin/login">
                    <button type="button">Login</button>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
